params {
    manifest = "data/manifest.tsv"
    metadata = "data/sample-metadata.tsv"
    classifier = "silva-138-99-nb-classifier.qza"
    trunc_len_f = 240
    trunc_len_r = 200
    sampling_depth = 10000
}

process {
    executor = 'local'
    cpus = 2
    memory = '4 GB'
    time = '1h'
}
process.container = 'quay.io/qiime2/core:2023.9'

docker.enabled = true
